In [42]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd


data = pd.read_sql("SELECT * FROM public.laptop_dim" ,"postgresql://airflow:airflow@elt-ai-system-postgres-1:5432/laptops")

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   company_name       1000 non-null   object
 1   type_of_laptop     1000 non-null   object
 2   inches             1000 non-null   float64
 3   screen_resolution  1000 non-null   object
 4   cpu                1000 non-null   object
 5   ram                1000 non-null   object
 6   memory             1000 non-null   object
 7   gpu                1000 non-null   object
 8   os                 1000 non-null   object
 9   weight             1000 non-null   float64
 10  price              1000 non-null   int64
dtypes: float64(2), int64(1), object(8)
memory usage: 86.1+ KB

In [44]:
data.isnull().sum()

company_name         0
type_of_laptop       0
inches               0
screen_resolution    0
cpu                  0
ram                  0
memory               0
gpu                  0
os                   0
weight               0
price                0
dtype: int64

In [45]:
data = data.drop('type_of_laptop', axis=1)

In [46]:
print(f'BRAND: {data.company_name.unique()}')
print(f'RAM: {data.ram.unique()}')
print(f'CPU: {data.cpu.unique()}')
print(f'RESOLUTION: {data.screen_resolution.unique()}')
print(f'OS: {data.os.unique()}')
print(f'GPU: {data.gpu.unique()}')

BRAND: ['MSI' 'Chuwi' 'hp' 'Microsoft' 'Apple' 'lenevo' 'Asus' 'Acer' 'Dell']
RAM: ['12GB' '8GB' '16GB' '4GB']
CPU: ['Intel Core i7' 'Intel Core i5' 'Intel Xeon E3-1505M '
 'Intel Atom x5-Z8550' 'Intel Celeron Dual Core 3855U ' 'Intel Core i9'
 'AMD A9-Series 9420' 'AMD Ryzen 5' 'AMD Ryzen 7'
 'Intel Pentium Quad Core N4200']
RESOLUTION: ['IPS Panel Retina Display 2560x1600' 'Full HD' '2K' 'HD 1920x1080 '
 'IPS Panel Full HD / Touchscreen 1920x1080' '4K']
OS: ['Linux' 'No OS' 'Windows 10' 'macOS' 'Windows 11']
GPU: ['Intel Iris Xe Graphics' 'AMD Radeon RX 5600M' 'NVIDIA GeForce GTX 1650']

In [47]:
def map_resolution(value: str):
    value = value.upper()
    if '4K' in value:
        return 2
    return 1

def map_os(value: str):
    value = value.upper().split(' ')[0]
    if value == 'NO':
        return None
    return value

def map_gpu(value: str):
    value = value.upper()
    if 'NVIDIA' in value:
        return 'NVIDIA'
    elif 'INTEL' in value:
        return 'INTEL'
    elif 'AMD' in value:
        return 'AMD'

def map_memory(value: str):
    value = value.upper()
    if 'SSD' in value:
        disk_type = 'SSD'
    else:
        disk_type = 'HDD'
    disk_size = value.split('GB')[0]
    try:
        return disk_type, int(disk_size)
    except:
        return disk_type, 256

In [49]:
data[['disk_type', 'disk_size']] = data['memory'].apply(map_memory).apply(pd.Series)
data = data.drop('memory', axis=1)
data['screen_resolution'] = data['screen_resolution'].apply(map_resolution)
data['os'] = data['os'].apply(map_os)
data['gpu'] = data['gpu'].apply(map_gpu)
data.cpu = data.cpu.map(lambda x: x.split()[0])

In [50]:
data = pd.get_dummies(data, columns=['company_name', 'ram', 'os', 'gpu', 'cpu'], prefix = ['laptop_brand', 'ram', 'os', 'gpu', 'cpu']).head()

In [52]:
data['disk_type'] = data['disk_type'].map({'SSD': 1, 'HDD': 0})

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   inches                  5 non-null      float64
 1   screen_resolution       5 non-null      int64
 2   weight                  5 non-null      float64
 3   price                   5 non-null      int64
 4   disk_type               5 non-null      int64
 5   disk_size               5 non-null      int64
 6   laptop_brand_Acer       5 non-null      bool
 7   laptop_brand_Apple      5 non-null      bool
 8   laptop_brand_Asus       5 non-null      bool
 9   laptop_brand_Chuwi      5 non-null      bool
 10  laptop_brand_Dell       5 non-null      bool
 11  laptop_brand_MSI        5 non-null      bool
 12  laptop_brand_Microsoft  5 non-null      bool
 13  laptop_brand_hp         5 non-null      bool
 14  laptop_brand_lenevo     5 non-null      bool
 15  ram_12GB                5 non-null      bool
 16  ram_16GB                5 non-null      bool
 17  ram_4GB                 5 non-null      bool
 18  ram_8GB                 5 non-null      bool
 19  os_LINUX                5 non-null      bool
 20  os_MACOS                5 non-null      bool
 21  os_WINDOWS              5 non-null      bool
 22  gpu_AMD                 5 non-null      bool
 23  gpu_INTEL               5 non-null      bool
 24  gpu_NVIDIA              5 non-null      bool
 25  cpu_AMD                 5 non-null      bool
 26  cpu_Intel               5 non-null      bool
dtypes: bool(21), float64(2), int64(4)
memory usage: 477.0 bytes

In [55]:
data.head()

,inches,screen_resolution,weight,price,disk_type,disk_size,laptop_brand_Acer,laptop_brand_Apple,laptop_brand_Asus,laptop_brand_Chuwi,...,ram_4GB,ram_8GB,os_LINUX,os_MACOS,os_WINDOWS,gpu_AMD,gpu_INTEL,gpu_NVIDIA,cpu_AMD,cpu_Intel
0,17.040680,1,2.06,35844,1,512,False,False,False,False,...,False,False,True,False,False,False,True,False,False,True
1,16.542395,1,4.06,37019,1,128,False,False,False,True,...,False,False,False,False,False,False,True,False,False,True
2,17.295294,1,2.90,33329,0,256,False,False,False,False,...,False,True,True,False,False,False,True,False,False,True
3,11.526203,1,2.91,68631,1,512,False,False,False,False,...,False,False,False,False,True,False,True,False,False,True
4,12.649634,1,4.34,33842,1,512,False,False,False,False,...,False,True,False,False,True,True,False,False,False,True